body {
    margin: 0;
    overflow: hidden;
    width: 1440px;
    height: 900px;
    top: -450px;
    left: -721px;
    background: rgba(12, 22, 77, 1);
  }
  
  .solar-system {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  header {
    text-align: right;
    
  }
  
  h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
  }
  
  #solaris {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    color: #FFD029;

    padding: 5px;
    border-radius: 5px;
  }
  .sun {
    width: 118px;
    height: 740.12px;
    top: 79.94px;
    background-color: rgba(255, 208, 41, 1);
    border-radius: 50%;
    
  }
  
  .planet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .mercury {
    width: 14px;
    height: 14px;
    background: rgba(136, 136, 136, 1);

  }
  
  .venus {
    width: 26px;
    height: 26px;
    background: rgba(231, 205, 205, 1);

  }
  
  .earth {
    width: 28px;
    height: 28px;
    background: rgba(66, 142, 212, 1);

  }
  .saturn {
    width: 14px;
    height: 14px;
    background: rgba(239, 95, 95, 1);

  }
  
  .mars {
    width: 188px;
    height: 188px;
    background: rgba(226, 148, 104, 1);


  }
  
  .jupiter {
    position: relative;
    background: rgba(199, 170, 114, 1);

    width: 144px;
    height: 144px;
    border-radius: 50%;
  }
  
  .jupiter::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 218px;
    height: 5.5px;
    background-color: #e6e6e6; /* Ring color */
    border-radius: 70%;
    transform: translate(-50%, -50%);
    rotate: 30°;
  }
  .saturn {
    background-color: #e6be8a;
  }
  
  .uranus {
    width: 66px;
    height: 66px;
    background-color: #98f5ff;
  }
  
  .neptune {
    width: 66px;
    height: 66px;
    background-color: #4a90e2;
  }
  
  

  #planet-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    display: none;
    background-color: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    ;
  }
  
  #planet-name {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  #planet-description {
    font-size: 18px;
    line-height: 1.5;
    
  }
  