* {
  box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    
}
.planet-details{
  width: 1440px;
  height: 900px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: rgba(12, 22, 77, 1);
}

.main{
  width: 1440px;
  height: 900px;
  background: rgba(12, 22, 77, 1);
  
}
 .header{
  width: 625px;
  height: 121px;
  margin-left: 800px;
  
 }
  .solar-system {
    height: 100vh;
 display: flex;
  justify-content: space-around;
  align-items: center;
flex-direction: row;
    
    
  }
  #mainheading, #name{
    color: white;
    letter-spacing: 0.6rem;
    line-height: 60px;
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    padding-right: 48px;
  }
  
  #maintext, #latinName {
    color: #FFD029;
    letter-spacing: 0.6rem;
    line-height: 24px;
    font-family: 'Lora', serif;
    font-size: 24px;
    padding-right: 48px;
    margin-bottom: -80px;
  }
  
  
  
  
  .sun {
    width: 120px;
    height: 740.12px;
   
    background-color: rgba(255, 208, 41, 1);
    border-radius: 50%;
    margin-left: -80%;
  }
  
  
  
  .mercury {
    width: 14px;
    height: 14px;
    background: rgba(136, 136, 136, 1);
    border-radius: 50%;
  }
  
  .venus {
    width: 26px;
    height: 26px;
    background: rgba(231, 205, 205, 1);
    border-radius: 50%;
  }
  
  .earth {
    width: 28px;
    height: 28px;
    background: rgba(66, 142, 212, 1);
    border-radius: 50%;
  }
  .saturn {
    width: 14px;
    height: 14px;
    background: rgba(239, 95, 95, 1);
    border-radius: 50%;
  }
  
  .mars {
    width: 188px;
    height: 188px;
    background: rgba(226, 148, 104, 1);
    border-radius: 50%;

  }
  
  .jupiter {
    position: relative;
    background: rgba(199, 170, 114, 1);

    width: 144px;
    height: 144px;
    border-radius: 50%;
  }
  
  .jupiter::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 218px;
    height: 5.5px;
    background-color: #e6e6e6; /* Ring color */
    border-radius: 70%;
    transform: translate(-50%, -50%);
    rotate: -30°;
  }
  .saturn {
    background-color: #e6be8a;
    border-radius: 50%;
  }
  
  .uranus {
    width: 66px;
    height: 66px;
    background-color: #98f5ff;
    border-radius: 50%;
  }
  
  .neptune {
    width: 66px;
    height: 66px;
    background-color: #4a90e2;
    border-radius: 50%;
  }
  
  .footer{
    width: 80px;
    height: 20px;
    color: white;
    font-size: 80px;
    display: flex;
  }
.logo{
  justify-content: center;
  align-items: flex-end;
}
  
  
  
  